html, body {
    padding: 5px;
}

#task-table {
    font-family: calibri, arial;
    border-collapse: collapse;
    width: 400px;
}

#task-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;   
}

#task-table tr:nth-child(odd){background-color: #a8c7f7;}

#task-table tr:nth-child(even){background-color: #dbf7ff;}

#btn-front-page {
    background-color: #a8c7f7;
    border: none;
    color: black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

#btn-help {
    position:absolute;
    top:10%;
    left:80%;
    padding:15px;
    font-size:18px;
    border:2px solid #222;
    color:#222;
    text-transform:uppercase;
    font-weight:600;
    background:#fff;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #a8c7f7;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}