html, body {
    padding: 5px;
}

#task-table {
    font-family: calibri, arial;
    border-collapse: collapse;
    width: 400px;
}

#task-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;   
}

#task-table tr:nth-child(odd){background-color: #a8c7f7;}

#task-table tr:nth-child(even){background-color: #dbf7ff;}

#btn-front-page {
    background-color: #a8c7f7;
    border: none;
    color: black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
